{% extends "base.html" %}

{% block content %}


<script src="js/jquery.min.js"></script>
<script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="js/bootstrap.min.js"></script>


<script data-require="marked@*" data-semver="0.3.1" src="js/marked.js"></script>
<script src="js/bootstrap-markdown.js"></script>

<script src="js/jquery.filedrop.js"></script>
<script src="js/jquery.hotkeys.js"></script>
<script src="js/mdEditor.js"></script>
<script src="js/blog.js"></script>
<link rel="stylesheet" href="js/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="js/style.css" />
{% if current_user.is_authenticated %}
<div  class="container">

    <div class=" mt-4 col overflow-auto">

        <div class="col-md-12">
            <div class="row">
                <h3 class="m-3">New Blog</h3>
                <button type="button" onclick="Post()" class="m-3 btn btn-primary">Post</button>
                <button type="button" onclick="GetPosts()" class="m-3 btn btn-primary">Refresh</button>

            </div>


            <textarea id="comment-md" name="comment" placeholder="Say something..."></textarea>
            <br />
            <!-- <div id="comment-md-preview-container">
              <div class="well well-sm well-light md-preview margin-top-10" id="comment-md-preview"></div>
            </div> -->
        </div>
    </div>
</div>
{% endif %}

<div class="container">
<div id='postlist' class="m-2 container">
</div>
</div>

<script>
    GetPosts();
</script>
{% endblock %}