{% extends "base.html" %}

{% block content %}
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col">
                <h1> Title </h1>
            </div>
        </div>

        <!-- Date -->
        <div class="row">
            <div class="col">
                <h5> March 21st, 2020 </h5>
            </div>
        </div>
        
        <!-- Image -->
        <div class="row">
            <div class="col">
                <img src="images/games/apex/1.jpg">
            </div>
        </div>

        <!-- Body -->
        <div class="row">
            <div class="col">
                <p>Body -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>

        <!-- Horizontal Row -->
        <div class="row">
            <div class="col">
                <hr/>
            </div>
        </div>

        <!-- Another filler blog -->
        <div class="row">
            <div class="col">
                <h1> CSL's CS:GO Season Suspended in the Midst of Play-offs </h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5> March 20th, 2020 </h5>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="images/games/csgo/1.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p> Following the movement of many North American colleges to an online learning model, Colegiate Star League, or CSL, has decided to suspend its spring 2020 CS:GO season, despite being deep into play-offs. This past weekend, prior to the cancelation, competing teams saw themselves amongst the top 4 teams in the country playing college Counter Strike. While cancelation has not been confirmed, it looks like months shall pass before any matches can be played again. </p>
            </div>
        </div>

    </div>
{% endblock %}