{% extends "base.html" %}

{% block content %}
<main role="main">
  <div>
      <section class="jumbotron text-center">
        <div class="container">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/communityDirector2.jpg" >
          <h1>Jackson Kamp</h1>
          <p class="lead text-muted">Community Director</p>
          <p>The Community Director is in charge of recruiting new members, formation and disbanding of clubs, and enforcing policies in the community. Jackson works to make the organization a place for anyone to join, even if they're not involved in Esports. The community director also helps orchestrate community events and meet ups.</p>
        </div>
      </section>
</div>   
</main>
{% endblock %}
