{% extends "base.html" %}

{% block content %}
<main role="main">
  <div>
      <section class="jumbotron text-center">
        <div class="container">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/blank-avatar.jpg">
          <h1>Adrian Kahaner</h1>
          <p class="lead text-muted">Competitive Director</p>
          <p>Adrian is the head of the competitive scene at UB Esports. He is responsible for directing all affairs regarding competitive collegiate esports. The Competitive Director establishes and manages teams and keeps them on track to compete.</p>
        </div>
      </section>
</div>   
</main>
{% endblock %}
