{% extends "base.html" %}

{% block content %}
<main role="main">
  <div>
      <section class="jumbotron text-center">
        <div class="container">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/directorOfFinance2.jpg" style="transform:rotate(270deg)">
          <h1>Jake Nowak</h1>
          <p class="lead text-muted">Director of Finance</p>
          <p>The Director of finance is in charge of everything money. Jake helps contact companies for sponsorships, as well as making sure we have enough equipment for our events.</p>
        </div>
      </section>
</div>   
</main>
{% endblock %}
