{% extends "base.html" %}

{% block content %}
<main role="main">
  <div>
      <section class="jumbotron text-center">
        <div class="container">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/executiveDirector.jpg">
          <h1>William Nicholson</h1>
          <p class="lead text-muted">Executive Director</p>
          <P> As the Executive Director, William represents UB Esports in its external relationships. He is the primary contact for information, relations, and business. The Executive Director is also in charge of setting up the semesterly large-scale events such as the Buffalo Blitz.</P>
        </div>
      </section>
</div>   
</main>
{% endblock %}
