{% extends "base.html" %}

{% block head %}
    {{ super() }}

    <style>
        body {
            margin: 0;
            padding: 0;
            background: #e9f0f5;
        }

        .title {
            margin-top: 40px;
        }

        .title h2 {
            font-weight: bold;
        }

        .timeline {
            margin-top: 40px;
            margin-bottom: 40px;
            position: relative;
            box-sizing: border-box;
        }

        .timeline:before {
            content: '';
            position: absolute;
            left: 50%;
            width: 2px;
            height: 100%;
            background: #c5c5c5
        }

        .timeline ul {
            margin: 0;
            padding: 0;
        }

        .timeline ul li {
            list-style: none;
            position: relative;
            width: 50%;
            padding: 20px 40px;
            box-sizing: border-box;
        }

        .timeline ul li:nth-child(odd) {
            float: left;
            text-align: right;
            clear: both;
        }

        .timeline ul li:nth-child(even) {
            float: right;
            text-align: left;
            clear: both;
        }

        .content {
            padding-bottom: 20px;
            border: 1px solid #eee;
            padding: 10px 10px;
            border-radius: 5px;
            background: #fff;
            text-align: justify;
        }

        .timeline ul li:nth-child(odd):before {
            content: '';
            position: absolute;
            top: 24px;
            right: -11px;
            width: 20px;
            height: 20px;
            background: #c23941;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
        }

        .timeline ul li:nth-child(even):before {
            content: '';
            position: absolute;
            top: 24px;
            left: -9px;
            width: 20px;
            height: 20px;
            background: #c23941;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
        }

        .timeline ul li h3 {
            margin: 0;
            padding: 0;
            font-weight: 600;
            color: #303e49
        }

        .timeline ul li p {
            margin: 10px 0 0;
            padding: 0;
            line-height: 1.7;
        }

        .timeline ul li h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }

        .timeline ul li:nth-child(odd) .time {
            position: absolute;
            top: 12px;
            right: -165px;
            margin: 0;
            padding: 8px 16px;
            background: #303249;
            color: #fff;
            border-radius: 18px;
        }

        .timeline ul li:nth-child(even) .time {
            position: absolute;
            top: 12px;
            left: -165px;
            margin: 0;
            padding: 8px 16px;
            background: #303249;
            color: #fff;
            border-radius: 18px;
        }
    </style>

{% endblock %}


{% block content %}

    <div class="container">
        <div class="title text-center">
            <h2>Timeline</h2>
        </div>

        <div class="timeline">
            <ul>
                <li>
                    <div class="content">
                        <h3>Event</h3>
                        <p>
                            Text goes here
                        </p>
                    </div>
                    <div class="time">
                        Month Day, Year
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>Event</h3>
                        <p>
                            Text goes here
                        </p>
                    </div>
                    <div class="time">
                        Month Day, Year
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>Event</h3>
                        <p>
                            Text goes here
                        </p>
                    </div>
                    <div class="time">
                        Month Day, Year
                    </div>
                </li>
                <div style="clear: both;"></div>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>

{% endblock %}