{% extends "base.html" %}

{% block head %}
    {{ super() }}

    <style>
        /* Style sheet based off of template provided by w3schools:
         * https://www.w3schools.com/howto/howto_css_timeline.asp
         */
        body {
            margin: 0;
            padding: 0;
            background: #e9f0f5;
        }

        .title {
            margin-top: 40px;
        }

        .title h2 {
            font-weight: bold;
        }

        .timeline {
            margin-top: 40px;
            margin-bottom: 40px;
            position: relative;
            box-sizing: border-box;
        }

        .timeline:before {
            content: '';
            position: absolute;
            left: 50%;
            width: 2px;
            height: 100%;
            background: #c5c5c5
        }

        .timeline ul {
            margin: 0;
            padding: 0;
        }

        .timeline ul li {
            list-style: none;
            position: relative;
            width: 50%;
            padding: 20px 40px;
            box-sizing: border-box;
        }

        .timeline ul li:nth-child(odd) {
            float: left;
            text-align: right;
            clear: both;
        }

        .timeline ul li:nth-child(even) {
            float: right;
            text-align: left;
            clear: both;
        }

        .content {
            padding-bottom: 20px;
            border: 1px solid #eee;
            padding: 10px 10px;
            border-radius: 5px;
            background: #fff;
            text-align: justify;
        }

        .timeline ul li:nth-child(odd):before {
            content: '';
            position: absolute;
            top: 24px;
            right: -11px;
            width: 20px;
            height: 20px;
            background: #005bbb;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(33, 53, 233, 0.2);
        }

        .timeline ul li:nth-child(even):before {
            content: '';
            position: absolute;
            top: 24px;
            left: -9px;
            width: 20px;
            height: 20px;
            background: #005bbb;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(33, 53, 233, 0.2);
        }

        .timeline ul li h3 {
            margin: 0;
            padding: 0;
            font-weight: 600;
            color: #303e49
        }

        .timeline ul li p {
            margin: 10px 0 0;
            padding: 0;
            line-height: 1.7;
        }

        .timeline ul li h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }

        .timeline ul li:nth-child(odd) .time {
            position: absolute;
            top: 12px;
            right: -200px;
            margin: 0;
            padding: 8px 16px;
            background: #303249;
            color: #fff;
            border-radius: 18px;
        }

        .timeline ul li:nth-child(even) .time {
            position: absolute;
            top: 12px;
            left: -200px;
            margin: 0;
            padding: 8px 16px;
            background: #303249;
            color: #fff;
            border-radius: 18px;
        }
    </style>

{% endblock %}


{% block content %}

    <div class="container">
        <div class="title text-center">
            <h2>University at Buffalo History of Esports</h2>
        </div>

        <div class="timeline">
            <ul>
                <li>
                    <div class="content">
                        <h3>ECollegiate Conference Finalists</h3>
                        <p>
                            Our number 1 conference seed College League of Legends roster defeated Miami Ohio to
                            become a finalist in the ecollegiate conference. Prior to the season's preemptive
                            cancelation due to COVID-19, our Bulls were projected to win the conference and compete
                            in the national CLoL competition, League of Legend's version of the NCAA playoffs.
                        </p>
                    </div>
                    <div class="time">
                        March 14th, 2020
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>UB Smash Club Joins UB Esports</h3>
                        <p>
                            UB Smash Club, originally a club in the undergraduate student association voted on this day
                            to leave SA and join UB Esports. With this merger, UB Esports grew by almost 100 members.
                        </p>
                    </div>
                    <div class="time">
                        March 4th, 2020
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>Student Life Esports Task Force Formed</h3>
                        <p>
                            Senior Associate Vice President Christina Hernandez formed a task force style committee
                            in order to "provide the opportunity for its students to participate in electronic gaming...
                            Often known as esports". This committee, independent from the Campus Living task force formed by
                            Campus Living Director Tom Tiberi, would lead to a comprehensive recommendation to the University
                            involving the hiring of full-time staff members, support for UB Esports, and the creation of
                            numerous "Esports Arenas" on-campus, repurposed computer labs dedicated to video games. 
                        </p>
                    </div>
                    <div class="time">
                        October 23rd, 2019
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>UB CS:GO Forms</h3>
                        <p>
                            With a growing interest for competitive and community events for the game, a group of students
                            volunteered to found the CS:GO club. The group has gone on to field teams in the CSL collegiate
                            tournament, reaching national playoffs in its first year of competition. 
                        </p>
                    </div>
                    <div class="time">
                        September 30th, 2019
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>UB Dota 2 Forms</h3>
                        <p>
                            Denied club status from the undergraduate student association, a group of students seeking to
                            form a Dota 2 club at UB joined UB Esports, forming the Dota 2 club. The group has gone on to
                            host regular events for club members and field a Dota 2 team competing in collegiate level
                            competition.
                        </p>
                    </div>
                    <div class="time">
                        September 24th, 2019
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>UB Esports Founded</h3>
                        <p>
                            After years of independent gaming clubs operating without direct recognition, the Department of
                            Media Studies head Tom Feeley approved for the founding of the University at Buffalo Esports, a
                            student group dedicated to the competitive and community aspects of video games on-campus. The
                            UB Overwatch and League of Legends clubs were the first to join the community. 
                        </p>
                    </div>
                    <div class="time">
                        September 23rd, 2019
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>Campus Living Esports Task Force Formed</h3>
                        <p>
                            Just prior to the founding of UB Esports, Campus Living Director Tom Tiberi ordered the creation
                            of a task force style committee with the purpose and intent of building the university's first
                            "esports arena" for resident utilage. This committee would go on to designate the Red Jacket lounges
                            as the site for future construction, opening the lounge in the fall semester of 2020.
                        </p>
                    </div>
                    <div class="time">
                        September 8th, 2019
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>UB Overwatch Club Founded</h3>
                        <p>
                            Within a packed room in Baldy Hall, the Overwatch club held its first meeting to a crowd of listeners.
                            The club would go on to field multiple teams within the Tespa Overwatch League, compete in the AndBox/NYXL
                            spring rally, and hold successful online and in-person events. Despite not getting recognized by the 
                            undergraduate student association, the group persisted for over a year and eventually joined UB Esports
                            as a founding club.
                        </p>
                    </div>
                    <div class="time">
                        September 2nd, 2018
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>Heroes of the Dorm Finalists</h3>
                        <p>
                            Within Blizzard's MOBA Heroes of the Storm, University at Buffalo team ImprobaBull Victory reached
                            the finals of the then annual college competition known as "Heroes of the Dorm" by defeating Cal
                            Poly Pomona 3 - 2 in the semi-finals. This acheivement came solely from student efforts, and without
                            the supervision or direction of staff or faculty on-campus. Buffalo and University news celebrated
                            the students' success; this milestone proved to be vital to the future success of gaming at UB.
                        </p>
                    </div>
                    <div class="time">
                        May 12th, 2018
                    </div>
                </li>

                <li>
                    <div class="content">
                        <h3>Formation of League of Legends Club</h3>
                        <p>
                            In the spring of 2016, a group of students formed the Facebook page Amumu's Friends, a page which
                            became the foundation for the UB League club. Seeking recognition, the club initially formed as a
                            subsidiary of undergraduate student association club SARPA. The group would go on to field teams
                            in collegiate League tournaments and host tournaments of their own, holding a massive annual tournament
                            at SARPA's UBCon, with the prize pool peaking at $1000 USD during UBCon XXX. The group would go on to
                            join UB Esports as a founding club.
                        </p>
                    </div>
                    <div class="time">
                        Spring 2016
                    </div>
                </li>

                <div style="clear: both;"></div>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>

{% endblock %}