{% extends "base.html" %}

{% block content %}
<main role="main">
  <div style="height: 100px;"></div>
  <div class="container rounded  shadow border-success mb-3" style="background-color: #666666;">



    <div>

      <!-- Three columns of text below the carousel -->
      <div class="row text-center p-3  " style="background-color: #e4e4e4;">
        <div class="col">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/executiveDirector.jpg"
            focusable="false">
          <h5>William</h5>
          <h5>Nicholson</h5>
          <p>Executive Director</p>
          <p><a class="btn btn-secondary" href="executive-director" role="button">View Profile </a></p>
        </div>

        <div class="col">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/communityDirector2.jpg"
            focusable="false">
          <h5>Jackson</h5>
          <h5>Kamp</h5>
          <p>Community Director</p>
          <p><a class="btn btn-secondary" href="community-director" role="button">View Profile </a></p>
        </div>

        <div class="col">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/blank-avatar.jpg"
            focusable="false">
          <h5>Adrian</h5>
          <h5>Kahaner</h5>
          <p>Competitive Director</p>
          <p><a class="btn btn-secondary" href="competitive-director" role="button">View Profile </a></p>
        </div>

        <div class="col">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/managingDirector.png"
            focusable="false">
          <h5>Raymond</h5>
          <h5>Calcascibetta</h5>
          <p>Managing Director</p>
          <p><a class="btn btn-secondary" href="managing-director" role="button">View Profile </a></p>
        </div>

        <div class="col">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/directorOfFinance.jpg"
            focusable="false">
          <h5>Jake</h5>
          <h5>Nowak</h5>
          <p>Director of Finance</p>
          <p><a class="btn btn-secondary" href="director-of-finance" role="button">View Profile </a></p>
        </div>




<!-- User-Story-81-Beautify -->
      </div>

      <div class="col-lg-2">

      </div>
     
      <h2 class="text-center text-white">What We Do</h2>
      <a class="text-white text-center">UB Esports is the hub for video games at the University at Buffalo. We strive to expand our community and grow as an organization. Our competitive scene involves many teams spanning different games, genres and leagues. We currently have teams for Overwatch, League of Legends, Counter Strike, and Rainbow Six Siege, with upcoming teams for Rocket League, Valorant, Call of Duty and more. While we are called UB Esports, we also have a strong casual community. We have a large communities for Animal Crossing and Minecraft, and are open to invite more games into our umbrella. We highly recommend joining our Discord Server to learn more about our community.</a>
      <h2 class="text-center text-white">Social Media</h2>
      <div class="text-center pb-3">

        <a class="btn  btn-light" href="https://buffalo.campuslabs.com/engage/organization/ub-esports"
          role="button"><img src="images/Globe.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn  btn-light" href="https://discord.gg/CPmmAcY" role="button"><img src="images/Discord.svg"
            class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-light" href="https://www.twitch.tv/ubuffaloesports" role="button"><img src="images/Twitch.png"
            class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn  btn-light" href="https://www.instagram.com/ubuffalo_esports/" role="button"><img
            src="images/Instagram.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn  btn-light" href="https://www.linkedin.com/company/ub-esports/about" role="button"><img
            src="images/Linkedin.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-light" href="https://www.youtube.com/channel/UCQKJq_XprscRKPb7ILzURFg" role="button"><img
            src="images/YouTube.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn  btn-light" href="https://www.facebook.com/ubuffaloesports" role="button"><img
            src="images/Facebook.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn  btn-light" href="https://twitter.com/UBuffaloEsports" role="button"><img src="images/Twitter.svg"
            class="img-fluid" alt="Responsive image" width="60" height="60"></a>

      </div>
    </div>




  </div>

  <div class="container">
    <a class="twitter-timeline" href="https://twitter.com/UBuffaloEsports?ref_src=twsrc%5Etfw">Tweets by
      UBuffaloEsports</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</main>
{% endblock %}