{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container bg-light">

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
      <div class="col-lg-2">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/blank-avatar.jpg"  
        focusable="false" >
        <h5>XXX XXX</h5>
        <p>Executive Director</p>
        <p><a class="btn btn-secondary" href="#" role="button">View Profile </a></p>
      </div>

      <div class="col-lg-2">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/blank-avatar.jpg"  
        focusable="false" >
        <h5>XXX XXX</h5>
        <p>Community Director</p>
        <p><a class="btn btn-secondary" href="#" role="button">View Profile </a></p>
      </div>

      <div class="col-lg-2">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/blank-avatar.jpg"  
        focusable="false" >
        <h5>XXX XXX</h5>
        <p>Competitive Director</p>
        <p><a class="btn btn-secondary" href="#" role="button">View Profile </a></p>
      </div>

        <div class="navbar">
            <a href="index.html">Home</a>
            <a href="blog.html">Blog</a>
            <a href="clubs.html">Clubs</a>
            <a href="teams.html">Teams</a>
            <a href="events.html">Events</a>
            <a href="login.html">Login</a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div>
                    <img src="images/blank-avatar.jpg" class="img-fluid" alt="Responsive image" width=200 height=200>
                    <h5>Executive Director</h5>
                </div>
                <div>
                    <img src="images/blank-avatar.jpg" class="img-fluid" alt="Responsive image" width=200 height=200>
                    <h5>Community Director</h5>
                </div>
                <div>
                    <img src="images/blank-avatar.jpg" class="img-fluid" alt="Responsive image" width=200 height=200>
                    <h5>Competitive Director</h5>
                </div>
                <div>
                    <img src="images/blank-avatar.jpg" class="img-fluid" alt="Responsive image" width=200 height=200>
                    <h5>Managing Director</h5>
                </div>
                <div>
                    <img src="images/blank-avatar.jpg" class="img-fluid" alt="Responsive image" width=200 height=200>
                    <h5>Director of Finance</h5>
                </div>
            </div>
        </div>

      <div class="col-lg-2">
      <span class="badge badge-secondary">
        <a class="twitter-timeline" href="https://twitter.com/UBuffaloEsports?ref_src=twsrc%5Etfw" data-width=300 data-height=300>Tweets by UBuffaloEsports</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </span>
      </div>

    </div>

    <h2>Social Media</h2>
    <div class="row align-items-end">
        <a class="btn btn-primary btn-light" href="https://buffalo.campuslabs.com/engage/organization/ub-esports" role="button"><img src="images/Globe.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-primary btn-light" href="https://discord.gg/CPmmAcY" role="button"><img src="images/Discord.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-primary btn-light" href="https://www.twitch.tv/ubuffaloesports" role="button"><img src="images/Twitch.png" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-primary btn-light" href="https://www.instagram.com/ubuffalo_esports/" role="button"><img src="images/Instagram.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-primary btn-light" href="https://www.linkedin.com/company/ub-esports/about" role="button"><img src="images/Linkedin.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-primary btn-light" href="https://www.youtube.com/channel/UCQKJq_XprscRKPb7ILzURFg" role="button"><img src="images/YouTube.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-primary btn-light" href="https://www.facebook.com/ubuffaloesports" role="button"><img src="images/Facebook.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
        <a class="btn btn-primary btn-light" href="https://twitter.com/UBuffaloEsports" role="button"><img src="images/Twitter.svg" class="img-fluid" alt="Responsive image" width="60" height="60"></a>
    </div>
  </div>
</main>
{% endblock %}
