{% extends "base.html" %}

{% block content %}
<main role="main">
  <div>
      <section class="jumbotron text-center">
        <div class="container">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/managingDirector.png">
          <h1>Raymond Calascibetta</h1>
          <p class="lead text-muted">Managing Director</p>
          <p>Raymond is the go to person for setting up events. Raymond makes sure that our events are posted and maintained on UB Learns, so that students can register to go to our events. The Managing Director also keeps track of reserving spaces and attendance at events.</p>
        </div>
      </section>
</div>   
</main>
{% endblock %}
