{% extends "base.html" %}

{% block content %}

<main role="main">
  <div>
      <section class="jumbotron text-center">
        <div class="container">


          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{profilePic}}" alt="Profile image not found" onerror="this.onerror=null;this.src='images/blank-avatar.jpg';" >

          <h1>Hi, {{ name }}</h1>
          <p class="lead text-muted">Welcome to your personal page.</p>

          <div id="edit" class="ml-2 row" >
            <a type="button"  onclick="document.getElementById('editProfile').style.display='block';document.getElementById('edit').style.display='none';"  class="mt-3 btn btn-primary text-light">Edit my profile</a>
          </div>




          <form id="editProfile" class="needs-validation" action="/edit" method="POST" style="display : none;">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="p-3 mb-2 bg-danger text-white">{{ messages[0] }}</div>
            {% endif %}
            {% endwith %}

            <div class="mb-3">
              <label for="firstName">First Name</label>
              <div class="input-group">
                <input type="text" class="form-control" id="firstName" name="firstName"  placeholder="{{ current_user.firstName }}" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your first name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="lastName">Last Name</label>
              <div class="input-group">
                <input type="text" class="form-control" id="lastName" name="lastName"  placeholder="{{ current_user.lastName }}" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email </label>
              <input type="email" class="form-control" id="email" name="email"  placeholder="{{ current_user.email }}">
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>


            <div class="mb-3">
              <label for="email">New Password</label>
              <input type="password" class="form-control" id="password" name="password"  placeholder="New Password">
              <div class="invalid-feedback">

              </div>
            </div>


            <hr class="mb-4">


            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Change</button>
            <a class="btn btn-secondary btn-block" href="profile" >Cancel</a>
          </form>


















          <h2>Events</h2>
          <div class="row">

            {% for e in events%}

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">

                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{e.image}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>{{e.title}}</title><rect width="100%" height="100%" fill="#55595c"/>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                </img>

                <div class="card-body">
                  <h2>{{e.title}}</h2>
                  <p class="card-text">{{e.description}}</p>
                  <div class="d-flex justify-content-between align-items-center"></div>
                </div>
              </div>
            </div>

            {% endfor %}

          </div>

          <h2>Clubs</h2>
          <div class="row">

            {% for c in clubs %}

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">

                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ c.image }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <title> {{ c.name }}</title><rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                  </img>

                  <div class="card-body">
                    <h2> {{ c.name }}</h2>
                    <p class="card-text"> {{ c.description }}</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>

            {% endfor %}

          </div>

        </div>
      </section>
</div>   
</main>

{% endblock %}