{% extends "base.html" %}

{% block content %}
<main role="main">
  <div>
      <section class="jumbotron text-center">
        <div class="container">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/blank-avatar.jpg">
          <h1>Hi, {{ name }}</h1>
          <p class="lead text-muted">Welcome to your personal page.</p>
          <h2>Events</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="images/games/apex/1.jpg" 
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" 
                fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                <div class="card-body">
                <h2>Event</h2>
                  <p class="card-text">Event Detail.</p>
                  <div class="d-flex justify-content-between align-items-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>   
</main>
{% endblock %}
