<!-- source:https://getbootstrap.com/docs/4.4/examples/ -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/checkout/">
<link href="css/bootstrap.min.css" rel="stylesheet" >
<meta name="theme-color" content="#563d7c">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Registration</h2>
    <img class="bd-placeholder-img" width="80" height="80" xmlns="http://www.w3.org/2000/svg" src="images/UBEsports.jpg"
         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: UBEsports" style="border-radius: 50%;">
    <p class="lead">Welcome to <a class="h4" href="index"><b>UBEsport</b></a>.</p>
  </div>

  <div >
    <div class="text-center mb-4">
      <form class="needs-validation" action="/signup" method="POST">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
              <div class="p-3 mb-2 bg-danger text-white">{{ messages[0] }}</div>
        {% endif %}
        {% endwith %}

        <div class="mb-3">
          <label for="firstName">First Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="firstName" name="firstName"  placeholder="Your First Name" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your first name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="lastName">Last Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="lastName" name="lastName"  placeholder="Your Last Name" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" name="email"  placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>


         <div class="mb-3">
          <label for="email">Password</label>
          <input type="password" class="form-control" id="password" name="password"  placeholder="Password">
          <div class="invalid-feedback">

          </div>
        </div>


        <hr class="mb-4">


        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
        <a class="btn btn-secondary btn-block" href="login" >Already have an account? Sign in</a>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 University at Buffalo</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script src="form-validation.js"></script></body>
</html>
