{% extends "base.html" %}

{% block content %}
  <div class="container">

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Overwatch</strong>
          <h3 class="mb-0">Team Name</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Team description here</p>

          <div class="row ml-0 tooltip-demo">
            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 1"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 2"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 3"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 4"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 5"></img>
          </div>

          <a href="#" class="stretched-link">More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" 
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">TeamLogo</text></svg>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Apex</strong>
          <h3 class="mb-0">Team Name</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Team description here</p>

          <div class="row ml-0 tooltip-demo">
            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 1"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 2"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 3"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 4"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 5"></img>
          </div>

          <a href="#" class="stretched-link">More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" 
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">TeamLogo</text></svg>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">CSGO</strong>
          <h3 class="mb-0">Team Name</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Team description here</p>

          <div class="row ml-0 tooltip-demo">
            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 1"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 2"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 3"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 4"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 5"></img>
          </div>

          <a href="#" class="stretched-link">More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" 
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">TeamLogo</text></svg>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">League of Legends</strong>
          <h3 class="mb-0">Team Name</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Team description here</p>

          <div class="row ml-0 tooltip-demo">
            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 1"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 2"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 3"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 4"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 5"></img>
          </div>

          <a href="#" class="stretched-link">More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" 
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">TeamLogo</text></svg>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Overwatch</strong>
          <h3 class="mb-0">Team Name</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Team description here</p>

          <div class="row ml-0 tooltip-demo">
            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 1"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 2"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 3"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 4"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 5"></img>
          </div>

          <a href="#" class="stretched-link">More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" 
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">TeamLogo</text></svg>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Overwatch</strong>
          <h3 class="mb-0">Team Name</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Team description here</p>

          <div class="row ml-0 tooltip-demo">
            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 1"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 2"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 3"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 4"></img>

            <img class="bd-placeholder-img rounded-circle" width="40" height="40" src="images/blank-avatar.jpg" 
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"
            data-toggle="tooltip" data-placement="bottom" title="Player 5"></img>
          </div>

          <a href="#" class="stretched-link">More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" 
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">TeamLogo</text></svg>
        </div>
      </div>
    </div>
</div>
</div>

<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script><script src="https://getbootstrap.com/docs/4.0/assets/js/docs.min.js"></script>
{% endblock %}